
<nav class="navbar navbar-light bg-light mb-2">
  <form class="form-inline">
    <label class="mr-sm-2" for="inlineFormCustomSelect">List Rss chanels</label>
    <select (change)="onSubmit(link.value)" #link class="form-control" id="inlineFormCustomSelect">
      <option class="form-control" selected>Choose...</option>
      <option class="form-control" *ngFor="let listItem of listFeeds" [value]="listItem.link" (click)="onSubmit()">
        {{ listItem.name}}
      </option>
    </select>
  </form>
  <div *ngIf="feeds && feeds.length > 0">
    Count feeds is: {{feeds.length}}
  </div>

</nav>
<div class="container">
  <div class="row justify-content-center">


    <app-spinner *ngIf="!feeds.length "></app-spinner>
    <div class="accordion">
      <div class="card mb-2" [attr.id]="'accordion_' + i" *ngFor="let feed of feeds let i = index;">
        <div class="panel panel-default">
          <div class="card-header">

              <a data-toggle="collapse"  (click)="showDiagram(feed)" [attr.data-parent]="'#accordion_' + i" [attr.href]="'#collapseOne_' + i">{{feed.title
                | slice:0:85}} </a>

          </div>
          <div [attr.id]="'collapseOne_' + i" class="panel-collapse collapse in">
            <div class="card-body">
              <div class="continer-fluid">
                <div class="row">

                  <div class=" col-sm-12 col-xs-12 col-md-6">
                    <canvas baseChart *ngIf="values && values.length > 0" [data]="values" [labels]="keys" [chartType]="pieChartType"
                      (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                  </div>

                  <div class=" col-sm-12 col-xs-12 col-md-6 justify-content-center align-items-center">
                    <img (click)="openLinkInBrowser(feed)" class="img-fluid rounded " src="{{feed | imgPipe }}" alt="..."><br>
                  </div>
                  <div class="col-12">
                    {{feed.description }}
                  </div>
                </div>

                <footer class="blockquote-footer float-right"><span style="cursor: pointer" (click)="openLinkInBrowser(feed)">Open
                    source</span></footer>


              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

